::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.formInputContainer input ~ label {
  top: -12px;
  left: 20px;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 21px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

ol {
  padding-left: 40px;
}

ul {
  padding-left: 40px;
}